@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* set tailwind's font-sans to your local font */
  --font-sans: var(--font-ibm-plex-sans-kr);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* IMPORTANT: use the CSS variable injected by next/font/local */
body {
  background: var(--background);
  color: var(--foreground);

  font-family:
    var(--font-ibm-plex-sans-kr),
    /* your Next.js localFont */ Helvetica,
    Arial,
    sans-serif;
}
